body{
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    padding: 0;
}

.contenedor{
    background: #ffffff;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
}

h1{
    text-align: center;
    color: #41295a;
}

li{
    border: 1px solid #dddddd;
    list-style-type: none;
    margin: 2px 50px 2px 0;
    padding: 5px 10px;
}

li:nth-child(odd){
    background: #DBE6F6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C5796D, #DBE6F6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C5796D, #DBE6F6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: #ffffff;
 /* even(pares)---odd(inpares) */
}

li:first-child{
    color: rgb(184, 28, 28);
}

